<h1>Add New Article</h1>
<form method="POST" action="/articles">
  <label for="title">Title</label>
  </br>
  <input type="text" name="title" id="title">
  </br>
  <label for="author">Author</label>
  </br>
  <input type="text" name="author" id="author">
  </br>
  <label for="body">Body</label>
  </br>
  <input name="body" id="body">
  </br>
  <input type="submit" value="Submit">
</form>
<p>{{message}}</p>