<h1>Product Editor</h1>
<form action="/articles/{{id}}" method="PUT">
  <label for="name">Name</label>
  <input type="text" name="name" id="name" value="{{name}}">
  <label for="price">Price</label>
  <input type="text" name="price" id="price">
  <label for="inventory">Inventory</label>
  <input name="inventory" id="inventory">
  <input type="submit" value="Submit">
</form>