<h1>Add New Product</h1>
<form action="/products" method="POST">
  <label for="name">Name</label>
  <input type="text" name="name" id="name">
  <label for="price">Price</label>
  <input type="text" name="price" id="price">
  <label for="inventory">Inventory</label>
  <input type="text" name="inventory" id="inventory">
  <input type="submit" value="Submit">
</form>